<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <!--		<layout class="org.apache.log4j.SimpleLayout"/> -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p (%C{2}:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="filelog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="testLog.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <category name="weden.jason.authServerFuncTests">
        <priority value="INFO"/>
    </category>

    <root>
        <priority value="INFO"/>
        <!-- appender-ref ref="filelog"/ -->
        <appender-ref ref="ConsoleAppender"/>
    </root>

</log4j:configuration>
